<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ServerSettings">
        <section name="ServerConfiguration" type="SAP.Middleware.Connector.RfcServerConfiguration, sapnco"/>
      </sectionGroup>
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <SAP.Middleware.Connector>
    <ServerSettings>
      <ServerConfiguration>
      <servers>
        <add NAME="DINOZZO" GWHOST="" GWSERV="SAPGW00" PROGRAM_ID="STFC_CONNECTION" REPOSITORY_DESTINATION="abc" REG_COUNT="1"/>
      </servers>
     </ServerConfiguration>
    </ServerSettings>
    <ClientSettings>
     <DestinationConfiguration>
      <destinations>
        <add NAME="abc" USER="" PASSWD="" CLIENT="100" LANG="EN" ASHOST="" SYSNR="" />
      </destinations>
     </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <startup> 
   <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>